.container-profesi {
  padding-left: 128px;
  padding-right: 128px;
}

.img-profesi {
  height: 74px;
  width: 74px;
}

.p-profesi {
  font-weight: 400;
  font-size: 17px;
  color: #a00000;
}

.judul-profesi {
  font-weight: 500;
  font-size: 36px;
  text-align: left;
  line-height: 60px;
  color: #4d4d4d;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* untuk responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
  .container-profesi {
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-profesi {
    max-width: 100%;
  }
  .judul-profesi {
    font-size: 26px;
    text-align: center;
  }

  .img-profesi {
    height: 44px;
    width: 44px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
}
