.jumbotron {
  background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)),
    url(https://res.cloudinary.com/def4tydoe/image/upload/v1604244455/jumbotron_2_h7gei1.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  color: white !important;
  padding-top: 15rem;
  padding-bottom: 15rem;
  max-width: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.card {
  width: 28rem;
  height: 18rem;
}

/* untuk responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
  .jumbotron {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .card {
    width: 18rem;
    height: 18rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
}
