/* untuk responsive */
.sidebar {
  height: 300vh;
  max-height: 300vh;
  background-color: #9ff9ff;
  width: 500px;
}

.sidebaritem {
  max-height: 300vh;
  height: 300vh;
  background-color: #9ff9ff;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.fotoprofil {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebarketerangan {
  margin-top: 10vh;
}
/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
}
